<html>
    <body>
        <form action="" type="get">

<table>
            <thead>
                <th>ID</th>
                <th>Brand</th>
                <th>Colour</th>
                <th>Size</th>
            </thead>
            <tbody>
                <td>                
                    {{#each}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
                <td>                
                    {{#each}}
                    <li>
                        {{this}}
                    </li>
                {{/each}}
                </td>
            </tbody>
</table>

        </form>
    </body>
</html>